$main-bg-color: #1C1C1C;
$main-text-color: #DDDDDD;
$text-link-color: #c7c7c7;

$highlight: rgb(253, 131, 131);
$roboto: 'Roboto',
sans-serif;
$roboto-mono: 'Roboto Mono',
monospace;

*:focus {
    outline: 0 !important;
    box-shadow:
        0 0 0 .2rem #fff,
        0 0 0 .35rem #069 !important;
}

*:focus:not(:focus-visible) {
    outline: 0 !important;
    box-shadow: none !important;
}

@keyframes animation {
    0%{
        opacity: 0;
        transform: translate(0, -15%);
    }
    100%{
        opacity: 1;
        transform: translate(0, 0);
    }
}

@mixin animation {
    animation: animation 2s forwards ease;
}


@mixin mobile {
    @media screen and (max-width: 1350px){
        @content;
    }
}