.home{
    .img-left{
        position: absolute;
        width: 38%;
        bottom: 10%;
    }

    .img-right{
        position: absolute;
        left: 50%;
        width: 38%;
        bottom: 10%;
    }
}

.info {
    background: url("../img/flower-left.png");
    height: 80vh;
    @include animation;

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1.5rem;

        span {
            color: $highlight;
        }

    }
}