@import 'reset';
@import 'config';
@import 'responsive';

body {
    background-image: url(/img/flower-left.png), url(/img/flower-right.png);
    background-repeat: no-repeat;
    background-position: bottom left, bottom right;
    background-color: $main-bg-color;
    height: 100vh;
    font-family: $roboto;
    color: $main-text-color;
}


.social-icons {
    a {

        i {
            margin: 0 1.5rem;
            font-size: 1.3rem;
            border-radius: 50%;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6), -3px -3px 10px rgba(58, 58, 58, 0.6);
            color: $text-link-color;

            &:active {
                border-radius: 50%;
                box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.6), inset -3px -3px 10px rgba(58, 58, 58, 0.6);
                color: $text-link-color;
                outline: none;
            }

            &:hover {
                color: white;
                background-color: rgb(26, 26, 26);
                transition: all 0.5s ease-in-out;
            }
        }
    }

}

.info {
    height: 100vh;

    h3 {
        font-size: 2.5rem;

        span {
            color: $highlight;
        }
    }

    h4 {
        line-height: 2;
        width: 50%;
        font-size: 1.4rem;


        span {
            text-decoration: underline;
        }

    }

    p {
        margin-top: 20px;
        font-size: 1rem;
    }
}

.photo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.6), inset -3px -3px 10px rgba(58, 58, 58, 0.6);
    margin-bottom: 50px;

    img {
        width: 160px;
        border-radius: 50%;
    }
}

.my-info {
    @include animation;
}